
:root{
    --site-color:#A38A00;
    --background:#37131d;
    --black:#000;
}

body{
    background-color: #d3d3d3;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Inicio formulário*/
.conteudo-formulario{
    width: 300px;
    display: flex;
    margin: 0 5px;
    flex-direction: row;
}

.wrapper-login {
    width: 100%;
    /*#60051d*/
    background-color: var(--background);
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 1);
    border-top: 3px solid var(--site-color);
    
    
}

.title{
    background-color:#000;
    border-radius: 6px 6px 0px 0px;
    border: 3px solid var(--site-color);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--site-color);
}

.form-login{
    padding: 25px;
}

.form-login .row{
    height: 45px;
    padding-bottom: 15px;
    position:relative;
}

.form-login .row label{
    position: absolute;
    width: 55px;
    height: 31px;
    color: var(--site-color);
    font-size: 18px;
    background-color: #000;
    border: 3px solid var(--site-color);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login .row input{
    padding-left: 65px;
    height: 30px;
    background-color: #000;
    color: var(--site-color);
    width: 90;
    border-radius: 5px;
    border: 1px solid #000;
    border: 3px solid var(--site-color);
}

.form-login .row-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login .button{
    background-color: #000;
    color: var(--site-color);
    border-radius: 3px;
    border: 3px solid var(--site-color);
    height: 35px;
    width: 110px;
    font-size: 18px;
    transition: 0.3 all ease;
}

.form-login .button:hover{
    color: #000;
    background-color: var(--site-color);
    border: 3px solid #000;
}

.wrapper-login .form-login .signup-link a {
    color: var(--site-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.form-login .signup-link a:hover {
    color: var(--site-color);
}

/*Fim formulário*/

.text-error {
    margin: 10px;
    text-align: center;
    color: #ff0000;
}
.text-succes{
    margin: 5px;
    text-align: center;
    color: #00ff00;
}


